//primaries
$brand: #2c73d2;
$primary: #845ec2;
$secondary: #0089ba;
$teriary: #008e9b;
$green: #008f7a;
$cyan: #00c9b7;

// Button Palette
$button-bg: $teriary;
$button-bg-hover: $cyan;
$button-text: #ffffff;

//Nav Palette
$nav-bg: black;
$nav-color: white;
